html,
body {
    height: 100%;
    margin: 0
}

.table>tbody>tr.Table-strongSelection {
    color: white;
}

.table-hover>tbody>tr.Table-strongSelection:hover {
    color: white;
}

.table>tbody>tr {
    cursor: pointer
}

.table>tbody>tr>td {
    word-wrap: break-word;
}

.mdl-layout__header-row {
    height: 48px !important;
}

.mdl-data-table>tbody>tr {
    cursor: pointer
}

.mdl-data-table>tbody>tr>td {
    word-wrap: break-word;
    white-space: normal;
}

.mdl-data-table {
    word-wrap: break-word;
    white-space: normal;
}

.mdl-data-table--no-header>thead {
    display: none;
}

.boundary {
    fill: #ffffff;
    stroke: #aaaaaa;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.feature {
    fill: rgba(0,0,0,0);
}

.feature:hover {
    fill: rgba(255, 151, 0, 0.31);
}